@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Dancing+Script&display=swap');

body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    color: black;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
a {
    text-decoration: none;
    color: orange;
}
/* ********************************************** NAVBAR ********************************************** */
nav {
    overflow: hidden;
    background-color: ;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
    font-weight: bold;
    text-shadow: 1px 2px black;
}
#logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}
/* ************************************ IMAGE PRINCIPALE ************************************ */
#imagePrincipale {
    padding-top: 60px;
    background: url(media/media/img_lights.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 10px 2px green;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px blue;
box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 5px 5px 15px 5px rgba(0,0,0,0);
}
h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 6px 2px blue;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}
/* ******************************** PRÉSENTATION *************************************** */
#presentation {
     background-color: #FFFAE1;
     padding: 10px 0px 100px 0;
}
#textIntro {
    padding: 0px 20%;
}
#prestations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;
background-color: lightgray;
}
.imagesPrestations h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.imagesPrestations img {
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}
.imagesPrestations img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/* ************************** TOURISME ************************************* */
#tourisme {
    height: 1400px;
    background-color:  lightgray;
    padding: 1px 2%;
}
#tourisme h2 {
    padding-top: 60px;
}
#océan {
    background: url(media/media/ocean.jpg);
}
#chateau {
    background: url(media/media/chateau.JPG);
}
#phare {
    background: url(media/media/phare.JPG);
}
#vignoble {
    background: url(media/media/vignes.jpg);
}
#tourisme li {
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#tourisme p {
    height: 45px;
    width: 235px;
    background-color: #01DF74;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90,161,43,1);
}
#tourisme #chateau, #tourisme #vignoble {
    float: right;
}
#chateau p, #vignoble p {
    float: left;
    background-color: cyan;
    margin-left: -180px;
    box-shadow: -4px 4px 0 1px rgba(15,154,156,1);
}
/* ******************************** FOOTER ********************************************* */
footer {
    background-color: rgba(230, 204, 10, 0.789);
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    color: #FFFAE1;
    padding: 20 px 0 10px 0;
    text-align: center;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    font-size: 1.5em;
    background-color: #FFFAE1;
}
button:hover {
    background-color: #e55039;
    color: #FFFAE1;
    cursor: pointer;
    transition:  0.3s ease-in-out;
}
#deuxièmeTrait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}
